// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// https://fonts.google.com/specimen/Source+Sans+Pro#standard-styles
//@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

// Bootstrap
@import 'variables';
@import '~bootstrap/scss/bootstrap';


:root {
    --color-action: #eee40a;
    --color-subtle: #3f6184;
    --color-subtle-darker: #265281;
}

html { font-size: 14px; }


@import 'partials/global';
@import 'partials/header';
@import 'partials/search';
@import 'partials/footer';
@import 'partials/consent';

@import 'pages/welcome';




.btn-jsf {
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    transition: all 0.3s;
    &:hover {
        background-color: white;
        color: black;
    }
}


a.job-list-item {
    @extend
        .d-block,
        .my-3,
        .p-2,
        .text-white
    ;
    border:3px solid rgba(0,0,0, 0.1);
    text-decoration: none;
    transition: all 0.3s;

    background-color: #3f6184;
    background-image: linear-gradient(to right, #3f6184, transparent), url(../../public/img/circuit.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-blend-mode: saturation;

    &:hover {
        background-color: #265281;
    }

    .title {
        @extend .text-center;
        font-size: 1.7em;
    }
    .sub {
        @extend .d-flex, .w-100;
    }
    .organisation {
        @extend .w-100;
    }
    .date {
        @extend .w-100, .text-right;
    }
}


a.btn-gear {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0px;
    padding: 3px 7px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.3);
    //border:1px solid rgba(0, 0, 0, 0.2);
    color: white;
    transition: all 0.3s;
    text-decoration: none;
    vertical-align: middle;
    &.dark {
        color: #000000;
    }
    &:hover {
        background-color: white;
        color: var(--color-subtle-darker);
    }
}


.job-data {
    @extend .mb-3, .p-4;
    background-color: rgba($color: #212c4a, $alpha: 0.1);
}


// Admin
table thead {
    background-color: var(--color-action);
}

.a-box {
    background-color: rgba(255,255,255, 0.7);
    border-radius: 4px;
    @extend .d-block, .py-3, .px-4, .text-center;
    font-size: 18px;
    text-decoration: none;
    color: grey;
    transition: all 0.2s;

    &:hover {
        background-color: rgba(255,255,255, 0.9);
        text-decoration: none;
        box-shadow: 0 0 10px 0 rgba(0,0,0, 0.1);
    }
}
