

body {
    background-color: #ebebeb;
}

// Sticky Footer
body {
    height: 100vh;
}
.stickyfooter {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    & > .stickyfooter-content {
        flex: 1;
    }
}


.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}
.navbar button:focus {
    outline: 0px none;
}
