.jobsearch {
    label {
        position: relative;
        display: block;
        border-radius: 25px;
        border: 4px solid rgba($color: #f8fafc, $alpha: 0.9);

        transition: all 0.2s;

        .jobsearch-icon {
            transition: all 0.2s;
        }

        &:hover, &:focus {
            .jobsearch-icon {
                color: #c4c3c3;
            }
        }
        &:hover {
            .jobsearch-button {
                color: var(--color-subtle-darker);
            }
        }

        .jobsearch-icon {
            position: absolute;
            top: 0;
            left: 10px;
            height: 100%;
            width: 32px;
            color: #efefef;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .jobsearch-input {
            outline: 0;
            width: 100%;
            border: 4px solid #f8fafc;
            border-radius: 20px;
            line-height: 25px;
            font-size: 20px;
            padding: 5px 50px 5px 45px;
        }
        .jobsearch-button {
            position: absolute;
            top: 0;
            right: 2px;
            height: 100%;
            width: 40px;
            outline: 0 none;
            border: 0 none;
            background-color: transparent;
            border-radius: 100%;
            color: var(--color-subtle);

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
